{% extends 'base.html'%}
{% load static %}

{%block title%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.1/b-2.3.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.1/b-2.3.3/datatables.min.js"></script>
</script>

<title>Show Table Data</title>
{%endblock%}
{% block body %}
<div class="container">
  {%if spacexlaunch_list%}
  <table id="spacex_data" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Booster Version</th>
        <th scope="col">Launch Site</th>
        <th scope="col">Payload</th>
        <th scope="col">Payload Weight</th>
        <th scope="col">Orbit</th>
        <th scope="col">Customer</th>
        <th scope="col">Mission Result</th>
        <th scope="col">Landing Result</th>
      </tr>
    </thead>
    <tbody>
      {% for data in spacexlaunch_list%}
      <tr>
        <td>{{data.flight_number}}</td>
        <td>{{data.date}}</td>
        <td>{{data.time}}</td>
        <td>{{data.booster_version}}</td>
        <td>{{data.launch_site}}</td>
        <td>{{data.payload}}</td>
        <td>{{data.payload_weight}}</td>
        <td>{{data.orbit}}</td>
        <td>{{data.customer}}</td>
        <td>{{data.mission_result}}</td>
        <td>{{data.landing_result}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

  {%else%}
  <div class="align-middle">
    <h3>
      No data to show
    </h3>
  </div>
  {%endif%}
</div>



{% endblock %}

{% block extrascripts %}
  <script type="text/JavaScript" src="{% static 'js/show_data_table.js' %}"></script>
{% endblock %}